.contact-block.full
  .text.contact-block__link
    +icon("map")
    .contact-block__link-wrp
        span 129515, Москва,<br>ул. Академика Королёва, дом 6, корпус 1
        button.btn.contact-block__address-button Показать на карте
  each item in global.footer.contacts.links
    a.text.contact-block__link(href=item["href"])
      +icon(item["icon"])
      span= item["text"]