extends ../layout/main

block variables
	- var title = 'СМПО'

block content
	include ../section/smpo/hero
	include ../section/smpo/about
	include ../section/smpo/gap
	include ../section/smpo/practice
	include ../section/smpo/gap
	include ../section/smpo/architecture
	include ../section/smpo/gap
	include ../section/smpo/features
	include ../section/smpo/gap
	include ../section/smpo/neural
	include ../section/smpo/gap
	include ../section/smpo/event
	include ../section/advantage