.inner-hero.black
    background-color: #4c5155
    padding-bottom 38px
    & .inner-hero__title
        margin-bottom 0px

.gap-contact
    background-color: #4c5155

.contact-page 
    height: calc(100vh - 90px);
    min-height: 900px
    display flex
    flex-direction: column
    @media(max-width breakpoint-lg)
        height calc(100vh - 70px)
        min-height: 760px
    @media(max-width breakpoint)
        min-height: 730px
    @media(max-width breakpoint-sm)
        min-height: 900px
        height auto