section.smpo-neural(id=smpo.neural.id)
  .container
    .inner-section__wrap.smpo-neural__wrap
      h3.inner-section__title.smpo-neural__title= smpo.neural.title
      each text in smpo.neural.texts
        p.text.smpo-neural__text= text