section.contact
    .container.contact-container
        .contact__content
            .contact__information
                h5.contact__title= contact.title
                include ../../modules/contact-block-full
            .contact__form
                include ../../modules/contact-form
                include ../../modules/policy
    .contact__stub
        .container