.smpo-event__title
  max-width 480px

.smpo-event__list
  justify-content space-between
  margin-bottom -80px
  @media (max-width breakpoint)
    margin-bottom -20px

.smpo-event__item
  max-width 260px
  margin-bottom 80px
  &:last-child
    margin 0 auto 80px
  svg
    margin-right 35px
  @media (max-width breakpoint)
    margin-bottom 20px