.smpo-features__list
  justify-content space-between
  margin-bottom -70px
  @media (max-width breakpoint)
    margin-bottom -20px

.smpo-features__item
  margin-bottom 70px
  @media (max-width breakpoint)
    margin-bottom 20px