.smpo-neural
  background url('../img/content/smpo/neural-bg.jpg') center no-repeat
  background-size cover
  height 500px
  .container
    height 100%
  @media (max-width breakpoint)
    height auto
    padding-bottom 100px
  @media (max-width breakpoint-sm)
    padding-bottom 40px

.smpo-neural__wrap
  color white
  padding-top 50px
  border-bottom none
  height 100%
  @media (max-width breakpoint)
    border none
  
.smpo-neural__text
  max-width 480px
  &+&
    margin-top 10px