// ЦВЕТА
accent-color = #5285c2
base-color = #4c5155
mercury = #e8e8e8
alto = #dcdcdc

// РАЗМЕРЫ

breakpoint-xl = 1919px
breakpoint-lg = 1600px
breakpoint = 1200px
breakpoint-md = 768px
breakpoint-sm = 480px

// ШРИФТЫ