.gap
  border-top 1px solid mercury
  border-bottom 1px solid mercury
  height 60px
  .container
    height 100%
    border-left 1px solid mercury
    border-right 1px solid mercury
  @media (max-width breakpoint)
    height 30px