.inner-section__wrap
  padding 50px 40px
  border-left 1px solid mercury
  border-right 1px solid mercury
  @media (max-width breakpoint)
    padding 40px 20px

.inner-section__title
  font-size 34px
  font-weight 500
  line-height 36px
  letter-spacing 0.34px
  margin-bottom 45px

.inner-section__list
  display flex
  flex-wrap wrap

.inner-section__item
  display flex
  align-items center
  width 100%
  max-width 370px
  svg
    width 76px
    height 76px
    margin-right 65px
    flex none
  @media (max-width breakpoint)
    max-width 50%
    svg
      margin-right 20px
  @media (max-width breakpoint-md)
    svg
      width 40px
      height 40px
      margin-right 20px
  @media (max-width breakpoint-sm)
    max-width 100%

.inner-section__text
  max-width 480px
  &+&
    margin-top 30px
  & + .inner-section__list
    margin-top 30px